version: 0.4.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  except:
  - gh-pages
skip_tags: true
image: Visual Studio 2017
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
- cmd: nuget restore
build:
  publish_nuget: true
  verbosity: minimal
deploy:
- provider: NuGet
  api_key:
    secure: xgT9jXDQWi/i7Ij7HJiOjrkq/v918qv3nyj0aYj+8LYMC9Kjmz/XhRG9tQbPyZRl
  skip_symbols: true
  on:
    branch: master
- provider: GitHub
  auth_token:
    secure: C0lwGHonLgpEKK4tXXfowSd4xfydhYmtkx1KWZSKYAW9jIAiO/AVk98pkfsVoNP/
  on:
    branch: master