@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Main API</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">Main API</h1>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get Info</button>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Auth Login</button>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Auth Login with OTP</button>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Auth Logout</button>
                </div>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-1 font-weight-normal">Main API</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">Download Station API</h1>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get Info</button>
                </div>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-2 font-weight-normal">Main API</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">File Station API</h1>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-lg btn-block btn-primary">Get Info</button>
                </div>
            </div>
        </div>
    </div>
</div>